@media screen and (max-width: 1440px){
    
    .contact-links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1120px){
    
    .projects-grid{
        
        grid-template-columns: 1fr 1fr;
      
    }
    .contact-links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 800px){
    
    .projects-grid{
        
        grid-template-columns: 1fr;
      
    }
    .contact-links{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}